/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

#extr-page #header #logo {
    margin-top: 1px !important;
    /*margin-left: 0;*/
}

 #header {
 	background: #000 !important;
  /*background: #542989 !important;*/
 }

 #logo {
    margin-top: 4px !important;
}

#left-panel {
	background: #0D0D0D !important;
  /*background: #542989 !important;*/
}

.flag + span {
  color: #75bfff !important;
}

 .custom_page_title h1 {

 	font-size: 13px !important;
 	font-style: italic;

 }

 .form-group {
 	margin-bottom: 3px;
 }

 .legend {
 	padding: 2px 0;
 	margin-bottom: 2px;
 }

.form-actions {
	margin-top: 5px;
}


#content {
    padding: 5px 4px;
    position: relative;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 3px 10px;
}

.profile_image{
  width: 28px;
  height: 28px;
  border-radius: 3px;
}

.th-title-padding-left{
  padding-left: 16px;

}

.edit_profile_image{
  width: 62px;
  height: 62px;
  border-radius: 3px;
}

.hidden{
  display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.page-title {
    margin: 12px 0 1px;
}

/*input:focus{
  border:1px solid green;
} 
*/


.ui-menu .ui-menu-item a{
    color: #000000;

    
}

.ui-autocomplete { 
  font-weight: normal;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}


  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }

  .page-footer {
    height: 22px;
    padding-top: 2px;
    background: #000 !important;
    position: fixed;

  }

 /* .help-block {
    color: #c7254e;
  }*/

/*table {
    border-collapse: separate;
    border-spacing:  0.1em;
}*/

table td[class*="col-"], table th[class*="col-"] {
  padding: 1px;
}

.btn-success {
  background-color: #397d39;
  /*background-color: #096a8a;*/
  border-color: #397d39;
}

.btn-success:hover {
  background-color: #5e5f5e;
  border-color: #5e5f5e;
}

/*.error {
  color: #f90202;
}*/



input:invalid {
  border: 1px solid red;
}

select:invalid {
  border: 1px solid red;
}


/*
 * =========================================
 * :optional pseudo class styling
 * =========================================
 */



/*

input:required {
  border: 1px solid red;
  background: rgba(250,0,0,0.85);
  
}

input:required:focus {
  outline: none;
  border: 1px solid red;
  background: rgba(250,0,0,1);
}

input:required:hover {
  border: 1px solid red;
  background: rgba(250,0,0,1);
}

input[type="text"]:optional {
  background: rgba(255,255,255,0.85);
}

input[type="text"]:optional:focus {
  background: rgba(255,255,255,1);
}

input[type="text"]:optional:hover {
  background: rgba(255,255,255,1);
}

input[type="name"]:valid,
input[type="password"]:valid,
input[type="email"]:valid {
  border: none;
  background: rgba(60, 92, 180, .85);
  color: #FFF;
}

input:invalid {
  border: 2px solid maroon;
}

input:invalid:focus {
  border: 2px solid red;
}

*/



.txt-color-white {
    font-style: italic;
    text-transform: lowercase;
  }


  /* -------------------------------- 

Accordian Main Components 

-------------------------------- */
.cd-accordion-menu {
  width: 90%;
  max-width: 600px;
  background: #4d5158;
  margin: 4em auto;
  box-shadow: 0 4px 40px #70ac76;
  padding: 0px;
}
.cd-accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
}
.cd-accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  list-style: none;
}
.cd-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
  padding-right: 0px;
}
.cd-accordion-menu label, .cd-accordion-menu a {
  position: relative;
  display: block;
  padding: 18px 18px 18px 64px;
  background: #4d5158;
  box-shadow: inset 0 -1px #555960;
  color: #ffffff;
  font-size: 1.6rem;
}
.no-touch .cd-accordion-menu label:hover, .no-touch .cd-accordion-menu a:hover {
  background: #52565d;
}
.cd-accordion-menu label::before, .cd-accordion-menu label::after, .cd-accordion-menu a::after {
  /* icons */
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu label {
  cursor: pointer;
}
.cd-accordion-menu label::before, .cd-accordion-menu label::after {
  background-image: url(../img/cd-icons.svg);
  background-repeat: no-repeat;
}
.cd-accordion-menu label::before {
  /* arrow icon */
  left: 18px;
  background-position: 0 0;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.cd-accordion-menu label::after {
  /* folder icons */
  left: 41px;
  background-position: -16px 0;
}
.cd-accordion-menu a::after {
  /* image icon */
  left: 36px;
  background: url(../img/cd-icons.svg) no-repeat -48px 0;
}
.cd-accordion-menu input[type=checkbox]:checked + label::before {
  /* rotate arrow */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu input[type=checkbox]:checked + label::after {
  /* show open folder icon if item is checked */
  background-position: -32px 0;
}
.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}
.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
  background: #35383d;
  box-shadow: inset 0 -1px #41444a;
  padding-left: 82px;
  margin-bottom: 1px;
}
.no-touch .cd-accordion-menu ul label:hover, .no-touch
.cd-accordion-menu ul a:hover {
  background: #3c3f45;
}
.cd-accordion-menu > li:last-of-type > label,
.cd-accordion-menu > li:last-of-type > a,
.cd-accordion-menu > li > ul > li:last-of-type label,
.cd-accordion-menu > li > ul > li:last-of-type a {
  box-shadow: none;
}
.cd-accordion-menu ul label::before {
  left: 36px;
}
.cd-accordion-menu ul label::after,
.cd-accordion-menu ul a::after {
  left: 59px;
}
.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a {
  padding-left: 100px;
}
.cd-accordion-menu ul ul label::before {
  left: 54px;
}
.cd-accordion-menu ul ul label::after,
.cd-accordion-menu ul ul a::after {
  left: 77px;
}
.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a {
  padding-left: 118px;
}
.cd-accordion-menu ul ul ul label::before {
  left: 72px;
}
.cd-accordion-menu ul ul ul label::after,
.cd-accordion-menu ul ul ul a::after {
  left: 95px;
}
@media only screen and (min-width: 600px) {
  .cd-accordion-menu label, .cd-accordion-menu a {
    padding: 24px 24px 24px 82px;
    font-size: 1.9rem;
  }
  .cd-accordion-menu label::before {
    left: 24px;
  }
  .cd-accordion-menu label::after {
    left: 53px;
  }
  .cd-accordion-menu ul label,
  .cd-accordion-menu ul a {
    padding-left: 106px;
  }
  .cd-accordion-menu ul label::before {
    left: 48px;
  }
  .cd-accordion-menu ul label::after,
  .cd-accordion-menu ul a::after {
    left: 77px;
  }
  .cd-accordion-menu ul ul label,
  .cd-accordion-menu ul ul a {
    padding-left: 130px;
  }
  .cd-accordion-menu ul ul label::before {
    left: 72px;
  }
  .cd-accordion-menu ul ul label::after,
  .cd-accordion-menu ul ul a::after {
    left: 101px;
  }
  .cd-accordion-menu ul ul ul label,
  .cd-accordion-menu ul ul ul a {
    padding-left: 154px;
  }
  .cd-accordion-menu ul ul ul label::before {
    left: 96px;
  }
  .cd-accordion-menu ul ul ul label::after,
  .cd-accordion-menu ul ul ul a::after {
    left: 125px;
  }
}
.cd-accordion-menu.animated label::before {
  /* this class is used if you're using jquery to animate the accordion */
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  margin-bottom: 1px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

/*ol, ul {
    list-style: none;
    padding: 0px;
}

label {
  margin-bottom: 1px;
}*/

.cd-accordion-menu ul {
  padding: 0px;
}

.detail508 tr td[scope="col"] {
    background-color: #f7f7f7;
    color: #555555;
    text-align: right;
    white-space: nowrap;
}

.jarviswidget {
  margin: 7px !important;
  border-bottom: 1px solid #ccc;

}

/*.jarviswidget > header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
   
}*/
/*.jarviswidget > header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #f7f7f7;
    border-right: 1px solid #C2C2C2;
    border-left: 1px solid #C2C2C2;
    border-bottom: none;
}*/

.module {
  margin: 7px;
  
}

.module h4 {
  font-size: 14px;
  color: #D02127;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 8px;

}

nav ul li a {
  color: #fffefd !important;
}

.nav-tabs.bordered {
  border: none;
}

.tabs-noborder {
  border-bottom: 1px solid #fb0000 !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.nav-tabs.bordered+.tab-content {
  border: none;
}

legend {
    margin-bottom: 2px;
    padding: 2px;
    font-size: 14px !important;
    font-weight: bold !important;
    font-style: oblique;
}

fieldset {
  margin-bottom: 20px;
}

.jarviswidget .widget-body {
    min-height: 58px;
}


.custom-h2 {
  /*color: #ff0303 !important;*/
  font-weight: bold !important;

}

.btn-xs {
  padding: 1px 10px !important;
  margin-right: 3px;
  margin-bottom: 5px;
}

.custom-margin-3px {
  margin-bottom: 3px;
  margin-right: 5px;
}

.vacant-unit {
  color: #ef0909;
  font-weight: bold;
}

.article-custom-padding {
  padding-left: 1px;
  padding-right: 1px;
}

table.dataTable tfoot>tr>th input, table.dataTable thead>tr>th input {
    width: auto !important;
}

.input-xs {
  margin-bottom: 5px;
}

/*Toggle switch*/

.checkbox.checbox-switch {
    padding-left: 0;
}

.checkbox.checbox-switch label,
.checkbox-inline.checbox-switch {
    display: inline-block;
    position: relative;
    padding-left: 0;
}
.checkbox.checbox-switch label input,
.checkbox-inline.checbox-switch input {
    display: none;
}
.checkbox.checbox-switch label span,
.checkbox-inline.checbox-switch span {
    width: 35px;
    border-radius: 20px;
    height: 18px;
    border: 1px solid #dbdbdb;
    background-color: rgb(255, 255, 255);
    border-color: rgb(223, 223, 223);
    box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.checkbox.checbox-switch label span:before,
.checkbox-inline.checbox-switch span:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(255,255,255);
    content: " ";
    top: 0;
    position: relative;
    left: 0;
    transition: all 0.3s ease;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}
.checkbox.checbox-switch label > input:checked + span:before,
.checkbox-inline.checbox-switch > input:checked + span:before {
    left: 17px;
}


/* Switch Default */
.checkbox.checbox-switch label > input:checked + span,
.checkbox-inline.checbox-switch > input:checked + span {
    background-color: rgb(180, 182, 183);
    border-color: rgb(180, 182, 183);
    box-shadow: rgb(180, 182, 183) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch label > input:checked:disabled + span,
.checkbox-inline.checbox-switch > input:checked:disabled + span {
    background-color: rgb(220, 220, 220);
    border-color: rgb(220, 220, 220);
    box-shadow: rgb(220, 220, 220) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch label > input:disabled + span,
.checkbox-inline.checbox-switch > input:disabled + span {
    background-color: rgb(232,235,238);
    border-color: rgb(255,255,255);
}
.checkbox.checbox-switch label > input:disabled + span:before,
.checkbox-inline.checbox-switch > input:disabled + span:before {
    background-color: rgb(248,249,250);
    border-color: rgb(243, 243, 243);
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

/* Switch Dark */
.checkbox.checbox-switch.switch-dark label > input:checked + span,
.checkbox-inline.checbox-switch.switch-dark > input:checked + span {
    background-color: rgb(52,58,64);
    border-color: rgb(52,58,64);
    box-shadow: rgb(52,58,64) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

/* Flip Switch*/

.onoffswitch {
    position: relative; width: 105px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 31px; padding: 0; line-height: 31px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: normal;
    box-sizing: border-box;
}
.onoffswitch-inner-worldwide:before {
    content: "Worldwide";
    padding-left: 10px;
    background-color: #298935; color: #FFFFFF;
}
.onoffswitch-inner-worldwide:after {
    content: "Worldwide";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-inner-WorldwideExUSA:before {
    content: "WW Exclude USA";
    padding-left: 10px;
    background-color: #298935; color: #FFFFFF;
}
.onoffswitch-inner-WorldwideExUSA:after {
    content: "WW Exclude USA";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-inner-plantypeInd:before {
    content: "Individual";
    padding-left: 10px;
    background-color: #298935; color: #FFFFFF;
}
.onoffswitch-inner-plantypeInd:after {
    content: "Individual";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-inner-plantypeGrp:before {
    content: "Group";
    padding-left: 10px;
    background-color: #298935; color: #FFFFFF;
    font-weight: bold;
}
.onoffswitch-inner-plantypeGrp:after {
    content: "Group";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

/* dha & haad css */

.onoffswitch-inner-usd:before {
    content: "USD";
    padding-left: 10px;
    background-color: #298935; color: #FFFFFF;
}
.onoffswitch-inner-usd:after {
    content: "USD";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-inner-gbp:before {
    content: "GBP";
    padding-left: 10px;
    background-color: #298935; color: #FFFFFF;
}
.onoffswitch-inner-gbp:after {
    content: "GBP";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-inner-euro:before {
    content: "EURO";
    padding-left: 10px;
    background-color: #298935; color: #FFFFFF;
}
.onoffswitch-inner-euro:after {
    content: "EURO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
/* end dha & haad css*/

.onoffswitch-inner3:before {
    content: "UAE Only";
    padding-left: 10px;
    background-color: #298935; color: #FFFFFF;
}
.onoffswitch-inner3:after {
    content: "UAE Only";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-inner11:before {
    content: "In-Patient";
    padding-left: 10px;
    background-color: #298935; color: #FFFFFF;
}
.onoffswitch-inner11:after {
    content: "In-Patient";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-inner12:before {
    content: "In & Out-Patient";
    padding-left: 10px;
    background-color: #298935; color: #FFFFFF;
}
.onoffswitch-inner12:after {
    content: "In & Out-Patient";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-inner-dental:before {
    content: "Dental";
    padding-left: 10px;
    background-color: #298935; color: #FFFFFF;
}
.onoffswitch-inner-dental:after {
    content: "Dental";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
/*
.onoffswitch-inner14:before {
    content: "Maternity";
    padding-left: 10px;
    background-color: #298935; color: #FFFFFF;
}
.onoffswitch-inner14:after {
    content: "Maternity";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}*/

.onoffswitch-inner-optical:before {
    content: "Optical";
    padding-left: 10px;
    background-color: #298935; color: #FFFFFF;
}
.onoffswitch-inner-optical:after {
    content: "Optical";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-inner-maternity:before {
    content: "Maternity";
    padding-left: 10px;
    background-color: #298935; color: #FFFFFF;
}
.onoffswitch-inner-maternity:after {
    content: "Maternity";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-inner-inpatient:before {
    content: "In-Patient";
    padding-left: 10px;
    background-color: #298935; color: #FFFFFF;
}
.onoffswitch-inner-inpatient:after {
    content: "In-Patient";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-inner-uae:before {
    content: "UAE Only";
    padding-left: 10px;
    background-color: #298935; color: #FFFFFF;
}
.onoffswitch-inner-uae:after {
    content: "UAE Only";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-inner-outpatient:before {
    content: "Out Patient";
    padding-left: 10px;
    background-color: #298935; color: #FFFFFF;
}
.onoffswitch-inner-outpatient:after {
    content: "Out Patient";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-inner-wellness:before {
    content: "Wellness";
    padding-left: 10px;
    background-color: #298935; color: #FFFFFF;
}
.onoffswitch-inner-wellness:after {
    content: "Wellness";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 75px;
    border: 2px solid #999999; border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/* Filter styles*/
.nav.category-menu{
  margin-top: -21px;
}

/*.scroll-menu{
  height: 260px;
  overflow-y: scroll;
}
*/
.checkbox span{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px
}

.checkbox span::before{
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 2px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  translation: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox span::after{
  display: inline-block;
  position: absolute;
  height: 16px;
  width: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

.checkbox input[type="checkbox"]{
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.checkbox input[type="checkbox"]:focus+span::before{
  outline: thin dotted;
  outline: 5px auto;
  outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked+span::after{
  font-family: "FontAwesome";
  content: "\f00c";

}

.checkbox-primary input[type="checkbox"]:checked+span::before{
  background-color: #337ab7;
  border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:checked+span::after{
  color: #fff;
}

.custom-onoffswitch-switch {
  right: 105px !important;
}
/* Filter styles End*/



/* custom table styles */
.products {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
/* Column widths are based on these cells */
.row-ID {
  width: 175px !important;
}
.row-name {
  width: 150px !important;
}
.row-job {
  width: 30%;
}
.row-email {
  width: 20%;
}
.products td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.products th {
  background: #496949 !important;
  color: white;
}
.products td,
.products th {
  text-align: left;
  padding: 5px 10px;
}
/*.products tr:nth-child(even) {
  background: lightblue;
}*/

.custom-height tr {
  height: 35px !important;
}

.custom-height td {
  vertical-align: middle !important;
  border: 1px solid #ddd !important;
}

/* compare style*/
.card {
  border: 2px solid #ccc; border-radius: 3px; padding: 10px;
}

.card_check {
  border: 3px solid red;
}

.compare {
  font-weight: 600; color: blue; cursor: pointer;
}

/* topscroll bar start */

/*.wrapper1, .wrapper2{
  width: 800px;
  border: none 0px RED;
  overflow-x: scroll;
  overflow-y:hidden;
}
.wrapper1{height: 20px; }
.wrapper2{height: auto; }
.div1 {width:1000px; height: 20px; }
.div2 {width:1000px; height: auto;
overflow: auto;}*/

/* topscroll bar end*/



